<table cellpadding="2" cellspacing="1" style="border-collapse: collapse; width: 100%">
    <tr>
        <td style="font-weight: bold">Address:
        </td>
        <td colspan="3">@DataBinder.Eval(Model, "Address")
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Postal Code:
        </td>
        <td>@DataBinder.Eval(Model, "PostalCode")
        </td>
        <td style="font-weight: bold">Region:
        </td>
        <td>@DataBinder.Eval(Model, "Region")
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">City:
        </td>
        <td>@DataBinder.Eval(Model, "City")
        </td>
        <td style="font-weight: bold">Country:
        </td>
        <td>@DataBinder.Eval(Model, "Country")
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Phone:
        </td>
        <td>@DataBinder.Eval(Model, "Phone")
        </td>
        <td style="font-weight: bold">Fax:
        </td>
        <td>@DataBinder.Eval(Model, "Fax")
        </td>
    </tr>
</table>
